.visualy-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  margin: 0;
}

* {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.app {
  max-width: 450px;
  margin: 1em auto 3em;
  font-family: Arvo, serif;
}

.button {
  cursor: pointer;
  border: 1px solid black;
  background: white;
  padding: 4px;
  margin: 5px;
  font-family: inherit;
}
.button:hover {
  background: black;
  color: white;
}

.fas {
  margin-right: 4px;
}

.header {
  position: relative;
  margin-bottom: 2em;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.search__input {
  width: 100%;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  font-family: inherit;
  font-size: 1em;
}

.button--search {
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.1em;
}

.button-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: 1px solid black;
}

.button-unit__type {
  font-weight: bold;
  font-family: inherit;
  font-size: 0.9em;
  padding: 3px 10px;
  background-color: black;
  color: #e6e6e6;
}

.button-unit__type--current {
  background-color: white;
  color: black;
  font-size: 1em;
}

.weather-details {
  margin-bottom: 2em;
}

.data-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data-details--sub {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.data-details--sub li {
  display: inline-block;
}

.current-weather-icon {
  font-size: 10em;
}

.main-temperature {
  font-size: 8em;
}

.weather-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.weather-icon h2 {
  font-size: 4em;
}

.aux-temperature {
  margin: 0 15px;
  padding-top: 20px;
}

.button-fav {
  position: absolute;
  left: 0;
  top: 0.5em;
  background: transparent;
  border: none;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forecast__item {
  width: 30%;
}

.forecast-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forecast__column {
  border: 2px solid white;
  width: 3px;
  height: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(darkgrey), color-stop(black), color-stop(transparent), to(transparent));
  background-image: -o-linear-gradient(bottom, darkgrey, black var(--height), transparent var(--height), transparent 100%);
  background-image: linear-gradient(0deg, darkgrey, black var(--height), transparent var(--height), transparent 100%);
}
.forecast__column:hover {
  width: 8px;
}

.forecast__max,
.forecast__min {
  position: absolute;
  left: -2em;
}

.forecast__max {
  top: -0.4em;
}

.forecast__min {
  bottom: -0.4em;
}